.scores {
  width: 60%;
}
.scores__header {
  margin-bottom: 30px;
}
.scores ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
}
.scores__item {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.scores__difficulty {
  margin-right: 20px;
}
.scores__back-btn {
  display: block;
  margin-top: 50px;
}
